.bed-image {
	width:100%; 
	height:100%; 
	max-width: 350px;
}

.area-section {
	width: 100%;
	max-width:350px;
	margin: 20px 0 0 0 !important;
}

.touch-container {
	display: inline-block !important;
	text-align: center;

	/* if you need ie6/7 support */
	*display: inline;
}
